<thead>
<a>
<tr>Assigned Tickets: </tr>
<style>
    html{
    font-size: x-large;
    font-variant-caps: small-caps;

    }
    table {
border: 3px solid black;
}
th, td {
border: 1px solid black;
}

</style>
{%for ticket in assigned_ticket%}

{%endfor%}
<table>
<tr> Valid Tickets </tr>
{%for ticket in valid_ticket%}
    <p><a href = {%url 'ticket_detail' user.id%}>{{ticket}}</a>
<th>{{ticket}}</th>
{%endfor%}
</table>
<table>
<tr>Tickets Completed: </tr>
{%for ticket in completed_ticket%}
<th>{{ticket}}</th>
</table>
{%endfor%}
</html>